<template>
  <v-app>
    <v-container grid-list-md text-center>
      <!-- partie en responsive  -->
      <v-flex v-for="(item, i) in items" :key="i" xs12>
        <v-card class="pa-2 my-8 hidden-md-and-up" max-width="400">
          <v-img class="white--text" height="200px" src="@/assets/forestwallpaper.jpg">
            <v-card-title class="align-end fill-height">{{item.name}}</v-card-title>
          </v-img>

          <v-card-text>
            <span>{{item.title}}</span>
            <br />
            <span class="text--primary">
              <br />
              <span>{{item.description}}</span>
            </span>
          </v-card-text>

          <v-card-actions>
            <v-btn text color="orange" :href="item.url" target="blank">Explore</v-btn>
          </v-card-actions>
        </v-card>
      </v-flex>
      <!-- partie de l'affichage ecran standard -->
      <v-layout wrap>
        <v-flex v-for="(item, i) in items" :key="i" xs4>
          <v-card class="pa-2 mx-4 mx-auto hidden-sm-and-down" max-width="400">
            <v-img class="white--text" height="200px" src="@/assets/forestwallpaper.jpg">
              <v-card-title class="align-end fill-height">{{item.name}}</v-card-title>
            </v-img>

            <v-card-text>
              <span>{{item.title}}</span>
              <br />
              <span class="text--primary">
                <span>{{item.description}}</span>
                <br />
              </span>
            </v-card-text>

            <v-card-actions>
              <v-btn text color="orange" :href="item.url" target="blank">Explore</v-btn>
            </v-card-actions>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </v-app>
</template>

<script>
// @ is an alias to /src

export default {
  name: "home",
  components: {},
  data() {
    return {
      items: [
        {
          id: 1,
          name: "The Anotherworld",
          title: "Jeu en javascript from scratch",
          description: `Vous etes arlen une personne souffrant d'amnésis, vous vous etes reveillez dans les bois et chercher des reponses`,
          picture: "@/assets/forestwallpaper.jpg",
          url: ""
        },
        {
          id: 2,
          name: "BerBer Designer",
          title: "Site web fais avec un entrepreneur",
          description:
            "Dans une équipe de 3 personne nous avons travailler a la conception d'un site en accord avec le cahier des charges du client et de ces attentes ",
          url: "https://www.simplonlyon.fr/promo9/dsalvador/wordpress/"
        },
        {
          id: 3,
          name: "Koza-Play",
          title: "Page web faite lors d'un hackathon",
          description:
            "Travail de developpement web  realiser en solo, pour une entrepreneuse faite en 1 jour",
          url: "http://koza-play.com/"
        }
      ]
    };
  },
  methods: {}
};
</script>
