<template>
  <v-app>
    <v-app-bar app>
      <v-toolbar-title class="headline text-uppercase">
        <span>Portfolio</span>
        <span class="font-weight-light"> Granet jean jacques</span>
      </v-toolbar-title>
      <v-spacer></v-spacer>
       <v-btn to="/">
        <span class="mr-2">Home</span>
      </v-btn>
       <v-btn to="About">
        <span class="mr-2">About</span>
      </v-btn>
      <v-btn text href="https://gitlab.com/jeanjacques42" target="_blank">
        <span class="mr-2">Gitlab</span>
      </v-btn>
    </v-app-bar>

    <v-content>
      <router-view></router-view>
    </v-content>
  </v-app>
</template>

<script>
import HelloWorld from "./components/HelloWorld";

export default {
  name: "App",
  components: {
    HelloWorld
  },
  data: () => ({
    //
  })
};
</script>

<style>

</style>
